@charset "UTF-8";
/* CSS Document */

.logout_logo {
	width:167px;
	height:70px;
	float:right;
	background:url(../../../images/options/cloud/logout_cloudlogo.gif) no-repeat top left;
	margin:43px 99px 0 0;
	display:inline;
	padding:0;
}

a.logo {
	 width:201px;
	 height:77px;
	 float:left;
	 margin-left:10px;
	 background:url(../../../images/options/cloud/cloud_logo.gif) no-repeat top left;
	 display:inline;
	 padding:0;
	 text-decoration:none;
}

a:hover.logo {
	 text-decoration:none;
}